<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_foskin_no_title"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FOSKIN"
        tools:targetApi="31">
        <activity
            android:name=".ui.home.clinic.ManageClinicActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.clinic.DetailClinicActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.clinic.ClinicActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.promo.PromoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.detect.face.ResultFaceActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.PrivacyPolicyActivity"
            android:exported="false" />
        <activity
            android:name=".ui.detect.face.FaceRecognitionFrontActivity"
            android:exported="false" />
        <activity
            android:name=".ui.detect.face.FaceValidationFrontActivity"
            android:exported="false" />
        <activity
            android:name=".ui.detect.face.FaceRecognitionRightActivity"
            android:exported="false" />
        <activity
            android:name=".ui.detect.face.FaceValidationRightActivity"
            android:exported="false" />
        <activity
            android:name=".ui.detect.face.FaceRecognitionLeftActivity"
            android:exported="false" />
        <activity
            android:name=".ui.detect.face.FaceValidationLeftActivity"
            android:exported="false" />

        <receiver
            android:name=".ui.home.routines.AlarmReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".ui.home.routines.AddRemaindersActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.blog.BlogActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.blog.DetailBlogActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Auth.OtpVerificationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Auth.EnterWhatsappNumberActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.routines.RemaindersActivity"
            android:exported="false" />
        <activity
            android:name=".ui.detect.product.ResultScanProductActivity"
            android:exported="false" />
        <activity
            android:name=".ui.detect.product.ErrorValidateProductScanActivity"
            android:exported="false" />
        <activity
            android:name=".ui.detect.product.ValidateProductScanActivity"
            android:exported="false" />
        <activity
            android:name=".ui.detect.product.ProductScanActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Auth.QuickSurvey2Activity"
            android:exported="false" />
        <activity
            android:name=".ui.Auth.QuickSurvey1Activity"
            android:exported="false" />
        <activity
            android:name=".ui.introduction.SplashScreen"
            android:exported="false" />
        <activity
            android:name=".ui.introduction.IntroActivity"
            android:exported="false"
            android:label="@string/app_name" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB5PNKVKY62rzVVI-Ys3IbnlUEaKle03rw" />
    </application>

</manifest>